* { margin: 0; padding: 0; -webkit-box-sizing: border-box; box-sizing: border-box; }

body { color: #484848; font-family: monospace; font-size: 2vh; }

ul { display: -webkit-box; display: -ms-flexbox; display: flex; list-style: none; }

a { color: currentColor; text-decoration: none; }

img { width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; -o-object-position: center; object-position: center; }

body { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 100vh; background-image: -webkit-gradient(linear, left top, right bottom, from(#93C5FD), to(#5047E6)); background-image: linear-gradient(to bottom right, #93C5FD, #5047E6); background-attachment: fixed; }

body .item { position: relative; display: -ms-grid; display: grid; -ms-grid-columns: 2fr 5fr; grid-template-columns: 2fr 5fr; -webkit-column-gap: 2em; column-gap: 2em; max-width: 90.90909%; max-height: 83.33333%; overflow: hidden; }

body .item .side-col, body .item .main-col { overflow: hidden; background-color: #F3F4F6; border-radius: 2em; }

body .item .side-col { display: -webkit-box; display: -ms-flexbox; display: flex; padding: 2em 0; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; text-align: center; }

body .item .side-col > li:not(:first-child) { margin-top: auto; }

body .item .side-col > li:not(.info) { margin-left: 1em; margin-right: 1em; }

body .item .side-col .avatar { position: relative; width: 40%; }

body .item .side-col .avatar::before { position: absolute; content: ""; padding-bottom: 100%; }

body .item .side-col .avatar img { border-radius: 100em; }

body .item .side-col .name { font-size: 0.8em; }

body .item .side-col .name h1 { font-weight: normal; }

body .item .side-col .badge { background-color: #E5E7EB; color: #484848; padding: 0.8em 1em; border-radius: 10em; font-weight: bold; font-size: 1.1em; }

body .item .side-col > li.social .icons { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; gap: 0.5em; font-size: 1.8em; }

body .item .side-col > li.social .icons > li > a { padding: 0.4em 0.5em; border-radius: 100em; background-color: #E5E7EB; color: #484848; }

body .item .side-col > li.social .icons > li > a:hover { color: #282828; }

body .item .side-col > li.social .icons .linkedin:hover { color: #0085A8; }

body .item .side-col > li.info { width: 100%; background-color: #E5E7EB; text-align: left; line-height: 1.5em; white-space: nowrap; }

body .item .side-col > li.info .list { width: 50%; margin: 0.5em auto; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

body .item .side-col > li.info .list > li, body .item .side-col > li.info .list > li > a { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

body .item .side-col > li.info .list > li > i, body .item .side-col > li.info .list > li > a > i { margin-right: 0.5em; }

body .item .side-col > li.info .list > li { margin-top: 0.1em; }

body .item .side-col > li.info .list > li:last-child { margin-bottom: 0.1em; }

body .item .side-col > li.btn-contact > a { display: inline-block; padding: 0.6em 1em; border-radius: 10em; background-image: -webkit-gradient(linear, right top, left bottom, from(#93C5FD), to(#5047E6)); background-image: linear-gradient(to bottom left, #93C5FD, #5047E6); color: #fff; font-weight: bold; font-size: 1.1em; }

body .item .main-col { display: -webkit-box; display: -ms-flexbox; display: flex; }

body .item .main-col .nav-section { position: absolute; display: -webkit-box; display: -ms-flexbox; display: flex; right: 1em; top: 1em; }

body .item .main-col .nav-section > nav { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; white-space: nowrap; opacity: 0; overflow: hidden; padding: 0; width: 0; border-radius: 100em 0 0 100em; background-color: #6366F1; -webkit-transition: 0.1s; transition: 0.1s; }

body .item .main-col .nav-section > nav.show { opacity: 1; width: auto; padding: 0 0.6em; }

body .item .main-col .nav-section > nav > ul > li > a { color: #F3F4F6; margin: 0 0.5em; font-size: 1.2em; }

body .item .main-col .nav-section > nav > ul > li > a::after { content: "|"; color: #F3F4F6; }

body .item .main-col .nav-section > nav .theme-icon { font-size: 1.2em; color: #F3F4F6; }

body .item .main-col .nav-section #main-button-nav { display: -webkit-box; display: -ms-flexbox; display: flex; padding: 0.6em; border-radius: 100em; background-color: #6366F1; border: none; cursor: pointer; -webkit-transition: 0.1s; transition: 0.1s; }

body .item .main-col .nav-section #main-button-nav.focus { border-radius: 0 100em 100em 0; }

body .item .main-col .nav-section #main-button-nav .circle { width: 1.8em; height: 1.8em; background-color: #F3F4F6; border-radius: 100em; }

body .item .main-col #chi-sono, body .item .main-col #portfolio { width: 100%; -ms-flex-negative: 0; flex-shrink: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; height: 100%; }

body .item .main-col #chi-sono .main-header, body .item .main-col #portfolio .main-header { display: block; padding: 1em 2em; }

body .item .main-col #chi-sono .main-header > li:not(:first-child), body .item .main-col #portfolio .main-header > li:not(:first-child) { margin-top: 2em; }

body .item .main-col #chi-sono .main-header > li:not(:first-child):last-child, body .item .main-col #portfolio .main-header > li:not(:first-child):last-child { margin-bottom: 1.5em; }

body .item .main-col #chi-sono .main-header > .title, body .item .main-col #portfolio .main-header > .title { display: inline-block; font-size: 1.5em; }

body .item .main-col #chi-sono .main-header > .title .border-bottom, body .item .main-col #portfolio .main-header > .title .border-bottom { width: 50%; height: 0.2em; border-radius: 100em; margin-top: 0.5em; background-color: #6366F1; }

body .item .main-col #chi-sono .main-body, body .item .main-col #portfolio .main-body { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; height: 100%; overflow: hidden; background-color: #E5E7EB; }

body .item .main-col #chi-sono .main-body > .title, body .item .main-col #portfolio .main-body > .title { margin: 0.5em 0 0.5em 1em; font-size: 1.5em; }

body .item .main-col #chi-sono .main-body .card-list, body .item .main-col #portfolio .main-body .card-list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; overflow: hidden; }

body .item .main-col #chi-sono .main-body .card-list .row, body .item .main-col #portfolio .main-body .card-list .row { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 100%; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; overflow: auto; }

body .item .main-col #chi-sono .main-body .card-list .row::-webkit-scrollbar, body .item .main-col #portfolio .main-body .card-list .row::-webkit-scrollbar { display: none; }

body .item .main-col #chi-sono .main-body .card-list .row > .col, body .item .main-col #portfolio .main-body .card-list .row > .col { display: -webkit-box; display: -ms-flexbox; display: flex; padding: 1em; width: 50%; height: 50%; }

body .item .main-col #chi-sono .main-body .card-list .row > .col .card, body .item .main-col #portfolio .main-body .card-list .row > .col .card { display: -webkit-box; display: -ms-flexbox; display: flex; width: 100%; height: 100%; background-color: #F3F4F6; padding: 1.5em; border-radius: 2em; overflow: auto; }

body .item .main-col #chi-sono .main-body .card-list .row > .col .card::-webkit-scrollbar, body .item .main-col #portfolio .main-body .card-list .row > .col .card::-webkit-scrollbar { display: none; }

body .item .main-col #chi-sono .main-body .card-list .row > .col .card .icon, body .item .main-col #portfolio .main-body .card-list .row > .col .card .icon { padding-right: 0.5em; font-size: 2em; color: #6366F1; }

body .item .main-col #chi-sono .main-body .card-list .row > .col .card .description, body .item .main-col #portfolio .main-body .card-list .row > .col .card .description { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

body .item .main-col #chi-sono .main-body .card-list .row > .col .card .description > *, body .item .main-col #portfolio .main-body .card-list .row > .col .card .description > * { margin: 0.1em 0; }

body .item .main-col #chi-sono .main-body .card-list .row > .col .card .description > .title, body .item .main-col #portfolio .main-body .card-list .row > .col .card .description > .title { font-size: 1.4em; }

body .item .main-col #portfolio .main-header > .title .border-bottom { margin-bottom: 1em; }

body .item .main-col #portfolio .main-body .card-list .row .col { width: 33.33333%; padding: 2em 1em; }

body .item .main-col #portfolio .main-body .card-list .row .col .card { position: relative; width: 100%; height: 100%; padding: 0; overflow: hidden; -webkit-box-shadow: 0 0 0 0.25em #6366F1; box-shadow: 0 0 0 0.25em #6366F1; }

body .item .main-col #portfolio .main-body .card-list .row .col .card::after { position: absolute; content: "Name"; left: 50%; bottom: 0; -webkit-transform: translate(-50%); transform: translate(-50%); padding: 0.2em 2em; border-radius: 1em 1em 0 0; font-size: 1.1em; font-weight: bold; color: #F3F4F6; background-image: -webkit-gradient(linear, right top, left bottom, from(#93C5FD), to(#5047E6)); background-image: linear-gradient(to bottom left, #93C5FD, #5047E6); }

body .item .main-col #portfolio .main-body .card-list .row .col .card:hover .preview::before { opacity: 0.8; }

body .item .main-col #portfolio .main-body .card-list .row .col .card:hover .preview::after { opacity: 0.8; }

body .item .main-col #portfolio .main-body .card-list .row .col .card .preview { position: relative; width: 100%; height: 100%; background-color: #6366F1; }

body .item .main-col #portfolio .main-body .card-list .row .col .card .preview::before { position: absolute; content: ""; top: 0; left: 0; right: 0; bottom: 0; background-color: #F3F4F6; opacity: 0.6; }

body .item .main-col #portfolio .main-body .card-list .row .col .card .preview::after { position: absolute; content: "\f002"; font-weight: 900; font-family: "Font Awesome 5 Free"; font-size: 3em; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); color: #6366F1; opacity: 0; }
