// Badge
@mixin badge($bg-color: $sub-col-color, $color: $text-color) {
    background-color: $bg-color;
    color: $text-color;
    padding: 0.8em 1em;
    border-radius: 10em;
    font-weight: bold;
    font-size: 1.1em;
}

@mixin btn ($bg-color: $sub-col-color, $color: $text-color) {
    display: inline-block;
    padding: 0.6em 1em;
    border-radius: 10em;
    background-image: $bg-color;
    color: $color;
    font-weight: bold;
    font-size: 1.1em;    
}