// Dark Mode
html {
    &.dark {
        body {
            background-color: $d-primary-color;
            color: $d-text-color;
            .item {
                .side-col,
                .main-col {
                    background-color: $d-bg-color;
                }
                .side-col {
                    .avatar {
                        >img {
                            // filter: hue-rotate(-50deg);
                            border-color: $d-accent-color;
                        }
                    }
                    .badge {
                        @include badge($background-color: $d-secondary-color);
                    }
                    >li.social {
                        .icons {
                            >li {
                                >a {
                                    background-color: $d-secondary-color;
                                    &:hover {
                                        color: $d-accent-color;
                                    }
                                }
                            }
                        }
                    }
                    >li.info {
                        background-color: $d-secondary-color;
                        .list {
                            .mail>a {
                                filter: saturate(5);
                            }
                        }
                    }
                    >li.btn-contact {
                        >a {
                            @include btn($background-color: $d-accent-color, $color: $d-text-color);
                        }
                    }
                }
                .main-col {
                    .nav-section {
                        >nav {
                            background-color: $d-accent-color;
                            >ul {
                                >li {
                                    >a {
                                        color: $d-text-color;
                                        &::after {
                                            color: $d-text-color;
                                        }
                                    }
                                }
                            }
                            .theme-icon {
                                color: $d-text-color;
                            }
                        }
                        #main-button-nav {
                            background-color: $d-accent-color;
                            .circle {
                                background-color: $d-bg-color;
                            }
                        }
                    }
                    #chi-sono,
                    #portfolio {
                        .main-header {
                            >.title {
                                .border-bottom {
                                    background-color: $d-accent-color;
                                }
                            }
                        }
                        .main-body {
                            background-color: $d-secondary-color;
                            .card-list {
                                .row {
                                    >.col {
                                        .card {
                                            background-color: $d-bg-color;
                                            .icon {
                                                color: $d-accent-color;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    #portfolio {
                        .main-body {
                            .card-list {
                                .row {
                                    .col {
                                        .card {
                                            box-shadow: 0 0 0 0.25em $d-accent-color;
                                            &::after {
                                                color: $d-text-color;
                                                background-color: $d-accent-color;
                                                box-shadow: 0 0 0 0.12em $d-accent-color;
                                            }
                                            .preview {
                                                background-color: $d-accent-color;
                                                &::before {
                                                    background-color: $d-text-color;
                                                }
                                                &::after {
                                                    color: $d-text-color;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    #contattami {
                        background-color: $d-bg-color;
                        textarea {
                            background-color: $d-bg-color;
                            color: $d-text-color;
                        }
                    }
                }
            }
        }
    }
}

// Portrait
@media (orientation: portrait) {
    html {
        &::-webkit-scrollbar {
            display: none;
        }
        body {
            width: 100%;
            height: auto;
            padding: 2em 0;
            .item {
                grid-template-columns: 1fr;
                .side-col {
                    height: calc(100vh - (2em * 2));
                }
                .main-col {
                    #chi-sono,
                    #portfolio {
                        .main-body {
                            .card-list {
                                padding-bottom: 1em;
                                .row {
                                    .col {
                                        width: 100%;
                                        height: auto;
                                    }
                                }
                            }
                        }
                    }
                    #chi-sono {
                        .main-body {
                            .card-list {
                                .row {
                                    .col {
                                        .card {
                                            padding: 3em 2em;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    #portfolio {
                        .main-body {
                            .card-list {
                                .row {
                                    padding: 2em;
                                    .col {
                                        padding: 2em 1em;
                                        &::before {
                                            content: "";
                                            margin-bottom: 50%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}