// Dark Mode
html {
    
    &.dark {
        
        body {
            background-image: $dark-body-color;
            color: $dark-txt-color;

            .item {

                .side-col, .main-col {
                    background-color: $dark-col-color;
                }

                .side-col {

                    .avatar {

                        > img {
                            filter: hue-rotate(-50deg) opacity(60%);
                        }
                    }

                    .badge {
                        @include badge($bg-color: $dark-sub-col-color);
                    }

                    > li.social {

                        .icons {

                            > li {

                                > a {
                                    background-color: $dark-sub-col-color;
                                }
                            }
                        }
                    }

                    > li.info {
                        background-color: $dark-sub-col-color;
                    }

                    > li.btn-contact {
                        > a {
                            @include btn($bg-color: $dark-reverse-btn-color, $color: $dark-txt-color);                    
                        }
                    }
                }

                .main-col {

                    .nav-section {
                        > nav {
                            background-color: $dark-sub-col-color;

                            > ul {

                                > li {

                                    > a {
                                        color: $dark-txt-color;

                                        &::after {
                                            color: $dark-txt-color;
                                        }
                                    }
                                }
                            }

                            .theme-icon {
                                color: $dark-txt-color;
                            }
                        }

                        #main-button-nav {
                            background-color: $dark-sub-col-color;

                            .circle {
                                background-color: $dark-txt-color;
                            }
                        }
                    }

                    #chi-sono, #portfolio {

                        .main-header {

                            > .title {

                                .border-bottom {
                                    background-color: $dark-txt-color;
                                }
                            }
                        }

                        .main-body {
                            background-color: $dark-sub-col-color;

                            .card-list {

                                .row {

                                    > .col {

                                        .card {
                                            background-color: $dark-col-color;

                                            strong {
                                                color: $light-col-color;
                                            }

                                            .icon {
                                                color: $dark-txt-color;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    #portfolio {

                        .main-body {

                            .card-list {

                                .row {

                                    .col {

                                        .card {
                                            box-shadow: 0 0 0 0.25em $dark-col-color;

                                            &::after {
                                                color: $dark-txt-color;
                                                background-image: $dark-reverse-body-color;
                                                box-shadow: 0 0 0 0.12em $dark-col-color;
                                            }

                                            .preview {
                                                background-color: $dark-col-color;

                                                &::before {
                                                    background-color: $dark-txt-color;
                                                }

                                                &::after {
                                                    color: $dark-col-color;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// Portrait
@media (orientation: portrait) {

    html {

        &::-webkit-scrollbar {
            display: none;
        }

        body {
            width: 100%;
            height: auto;
            padding: 2em 0;

            .item {
                grid-template-columns: 2fr;

                .side-col {
                    height: calc(100vh - (2em * 2));
                }

                .main-col {

                    #chi-sono, #portfolio {

                        .main-body {

                            .card-list {
                                padding-bottom: 1em;

                                .row {

                                    .col {
                                        width: 100%;
                                        height: auto;
                                    }
                                }
                            }
                        }
                    }

                    #chi-sono {

                        .main-body {

                            .card-list {

                                .row {

                                    .col {

                                        .card {
                                            padding: 3em 2em;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    #portfolio {

                        .main-body {

                            .card-list {

                                .row {
                                    padding: 2em;

                                    .col {
                                        padding: 2em 1em;
                                        
                                        &::before {
                                            content: "";                                            
                                            margin-bottom: 50%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}