// Font Style
$font-family: monospace;
$base-font-size: 2vh;
// Colors 
$primary-color: #0a66c2;
$secondary-color: #f3f2ef;
$bg-color: #ffffff;
$text-color: #282828;
// Dark Colors
$d-primary-color: #053361;
$d-accent-color: #006dff;
$d-secondary-color: #282828;
$d-bg-color: #383838;
$d-text-color: #ffffff;